h1,h2,h3,h4,h5,h6 {
  color:#60B8FF;
  font-family: 'Abril Fatface';
}


h1 {
  font-size: 8rem;
}

p {
  font-family: 'Montserrat', sans-serif;
  color:#676767;
}

code {
  color:#959595;
  background-color: white;
  font-family: 'Roboto Mono', monospace;
}

a {
  color:#60B8FF;
}

.container {
  padding:5%;
}

.footer {
  margin-top: 5%;
}
