h1,h2,h3,h4,h5,h6 {
  color:#353535;
  font-family: 'Ubuntu', sans-serif;
}

p {
  font-family: 'Open Sans', sans-serif;
}

code {
  color:#212121;
  background-color:#CDF2FC;
  font-family: 'Ubuntu Mono', monospace;
}

a {
  color:#FF6464;
}

.container {
  padding:5%;
}

.footer a {
  font-family: 'Ubuntu', sans-serif;
}

.footer {
  margin-top: 5%;
}
